/*----text container-----*/
.text-container {
    background: var(--menu-backround-color);
    margin-top: 10px;
    width: 100%;
    height: 530px;
    display: flex;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;

}
.message-body-container , .message-body-container-2 {
    margin: 10px auto;
    width: 70%;
    padding: 10px 10px 20px;
    background-color: var(--background-color-comment);
    border-radius: 20px;
    border: solid var(--border-solid-comment) 4px;
}
.message-footer-container{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

/*----text container-----*/

.form-container{
    margin: 10px auto;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#send-comment-button{
    width: 100px;
    height: 30px;
}
/*-----logo-animation-----*/

.logo-container:hover img{
    transform: rotate(-30deg) scale(2);
    filter: blur(2px);
}

.logo-container img{
    transition: .5s;
}

/*-----logo-animation-----*/
